
$corDeFundo: #181818;
$corTextoPrincipal: #fff;
$corTextoSecundario: #a3a3a3;
$corTextoFooter: #737373 ;
$corDeFundoBotaoPrimario: #db0510;
$corDeFundoBotaoHover:#e50914;;
$corDeFundoHeader: #000;
$corDeFundoBotaoDark:#000;

